@using NewsWebSite.Models.ViewModel;
@model ArticleForView
@{
    Layout = "~/Views/Shared/Lay.cshtml";
}
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card z-depth-1">
            <div class="card-image">
                @if (Model.Image != "Empty")
                {
                <img src="@Url.Content("~/Content/ArticlImages/" + Model.Id + "/" + Model.Image)" alt="SRC">
                }
                @if (Model.Editable)
                {
                    <a class="btn" style="margin-top:15px;margin-left:15px" href="@Url.Action("EditArticle", new { Id = Model.Id })"><i class="material-icons">edit</i></a>
                    <a class="btn" style="margin-top:15px;margin-left:15px"><i class="material-icons">delete</i></a>
                }
                    </div>
            <div class="card-content">
                <span class="card-title">@Model.Title</span>
                <br />
                <div class="divider"></div>
                <br />
                <p>@Model.FullDescription</p><br />
                <div class="divider"></div><br />
                @TagListHelper.DisabledModelTagsList(Model.ArticleTags)
                <div class="divider"></div><br />
                @if (Model.UpdateDate != null)
                {
                <p>@Model.UpdateDate</p>
                }
                else
                {
                    <p>@Model.CreateDate</p>
                }
            </div>
        </div>
    </div>
</div>

    


<div class="commentsBlock">
    <div id="comments" class="comments white z-depth-1"  style="padding:20px;">
        <div id="loader" class="hidden"></div>
        <h3 class="center-align">Коментарии</h3>
    </div>
    <div class="sendBlock hidden white z-depth-1" id="sendBlock" style="margin:20px 0; padding:20px">
        <textarea name="message" id="message"></textarea>
        <input type="button" class="waves-effect waves-light btn" value="Send" id="send" />
    </div>
</div>
@section scripts {
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.1.min.js")
    @Scripts.Render("~/signalr/hubs")
    <script type="text/javascript">
        var commentBlockLoaded = false;
        var comments = $.connection.commentsHub;
        $(document).ready(function ()
        {
            if (!commentBlockLoaded && $(window).height() >= $(document).height())
            {
                LoadComments();
            }
            $(window).scroll(function()
            {
                if(!commentBlockLoaded && $(window).scrollTop() >= $(document).height() - $(window).height() - 250)
                {
                    LoadComments();
                }
            });
        });



        function LoadComments()
        {
            $.ajax({
                url: '/News/GetComments',
                //              timeout: 3000,
                method: 'POST',
                dataType: 'Json',
                async: true,
                data: { "articleId": @Model.Id },
                beforeSend: function() {
                    commentBlockLoaded = true;
                    $('#loader').removeClass("hidden");
                    $.connection.hub.start().done(function () {
                        comments.server.connect(@Model.Id);
                    });
                }
            }).done(function(data) {
                console.log(data);
                if (data.length > 0)
                {

                    $.each(data, function(index, data) {
                        var templ = $("#template").html();
                        templ = templ.split('[Id]').join(htmlEncode(data.Id));
                        templ = templ.replace('[Name]', data.UserName);
                        templ = templ.replace('[Text]', data.Text);
                        templ = templ.replace('[Date]', htmlEncode(data.Created.replace('T',' ')));
                        if(data.Depth == 0)
                        {
                            $('#comments').append(templ);
                        }
                        else
                        {
                            $('#comment-' + data.ReplyCommentId).append(templ);
                        }


                        $('#' + data.Id).on("click", function ()
                        {
                            var replyBtnId = $(this).attr('id');
                            var sendBlock = $('.sendBlock.active');
                            sendBlock.addClass('hidden');
                            sendBlock.removeClass('active');
                            $('#sendBlock-' + replyBtnId).addClass('active').removeClass('hidden');
                            $('.showSendBlock.hidden').removeClass('hidden');
                            $('#' + replyBtnId).addClass('hidden');
                        });


                        $('#send-' + data.Id).on("click", function() {
                            var id = $(this).attr('id');
                            id = id.replace('send-','');
                            var textArea = $('#message-' + id);
                            comments.server.send(@Model.Id, id, textArea.val());
                            textArea.val('');
                            $('.sendBlock.active').addClass('hidden').removeClass('active');
                            //  $('#sendBlock').addClass('active').removeClass('hidden');
                            $('.showSendBlock.hidden').removeClass('hidden');
                        });
                    });
                }

                $('#send').on("click", function() {
                    comments.server.send(@Model.Id, 0, $('#message').val());
                    $('#message').val('');
                });
                $('#message').on("click", function () {
                    $('.sendBlock.active').addClass('hidden').removeClass('active');
                    $('.showSendBlock.hidden').removeClass('hidden');
                })
                $('#loader').addClass("hidden");
                $('#sendBlock').removeClass("hidden");
                // $('#sendBlock').addClass("active");
            });
        }

        comments.client.addMessage = function (id,name, message, date, reply) {
            var templ = $("#template").html();
            templ = templ.split('[Id]').join(htmlEncode(id));
            templ = templ.replace('[Name]', htmlEncode(name));
            templ = templ.replace('[Text]', htmlEncode(message));
            templ = templ.replace('[Date]', htmlEncode(date.replace('T',' ')));
            if(reply == 0)
            {
                $('#comments').append(templ);
            }
            else
            {
                $('#comment-' + reply).append(templ);
            }
            $('#' + id).on("click", function ()
            {
                var replyBtnId = $(this).attr('id');
                var sendBlock = $('.sendBlock.active');
                sendBlock.addClass('hidden');
                sendBlock.removeClass('active');
                $('#sendBlock-' + replyBtnId).addClass('active').removeClass('hidden');
                $('.showSendBlock.hidden').removeClass('hidden');
                $('#' + replyBtnId).addClass('hidden');
            });


            $('#send-' + id).on("click", function() {
                var id = $(this).attr('id');
                id = id.replace('send-','');
                var textArea = $('#message-' + id);
                comments.server.send(@Model.Id, id, textArea.val());
                textArea.val('');
                $('.sendBlock.active').addClass('hidden').removeClass('active');
                //  $('#sendBlock').addClass('active').removeClass('hidden');
                $('.showSendBlock.hidden').removeClass('hidden');
            });
        }



        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

    </script>
    <script type="text/template" id="template">
        <div class="comment" id="comment-[Id]" style="padding-left:40px;">
            <img src="" class="card-image" style="width:50px;height:50px;border-radius:50%;float:left;margin:15px 15px 15px 0px; object-fit:cover;object-position:center"/>
            <h5 class="commentName">[Name]</h5>
            <p class="commentDate blue-grey-text" style="margin-bottom:10px;">[Date]</p>
            <p class="commentText">[Text]</p>
            <input type="button" value="Reply" class="showSendBlock commentsBtn waves-effect waves-light btn" id="[Id]" />
            <div class="sendBlock hidden" id="sendBlock-[Id]">
                <textarea name="message" id="message-[Id]"></textarea>
                <input type="button" class="replyBtn commentsBtn waves-effect waves-light btn" value="Send" id="send-[Id]" />
            </div>
            <div class="divider" style="margin:10px 0"></div>
        </div>
    </script>

    <script>
        $('select').select2({
            tags:true
        });
    </script>

}
