@using NewsWebSite.Models.ViewModel
@using System.Configuration
@model ArticleForView
@{
    Layout = "~/Views/Shared/Lay.cshtml";
}
<article id="articledata" data-curuserid="@Model.CurUserId" data-maxlen="@ViewBag.MaxCommentLength" data-articleid="@Model.Id" data-myname="@Model.CurUserName">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card z-depth-1">
                <div class="card-image">
                    @if (Model.Image != "Empty")
                    {
                        <img src="@Url.Content(ConfigurationManager.AppSettings["ArticleImagesFolder"] + Model.Id + "/" + Model.Image)" alt="SRC">
                    }
                    @if (Model.Editable)
                    {
                        <a href="@Url.Action("EditArticle", new { Id = Model.Id })" class="btn" style="margin-top:15px;margin-left:15px"><i class="material-icons">edit</i></a>
                        <a href="@Url.Action("Delete", new { Id = Model.Id })" class="btn" style="margin-top:15px;margin-left:15px"><i class="material-icons">delete</i></a>
                    }
                </div>
                <div class="card-content">
                    <span class="card-title">@Model.Title</span>
                    <br />
                    <div class="divider"></div>
                    <br />
                    <p>@Html.Raw(Model.FullDescription)</p><br />
                    <div class="divider"></div><br />
                    @TagListHelper.DisabledModelTagsList(Model.ArticleTags)
                    <div class="divider"></div><br />
                    @if (Model.UpdateDate != null)
                    {
                        <p>@Model.UpdateDate</p>
                    }
                    else
                    {
                        <p>@Model.CreateDate</p>
                    }
                </div>
            </div>
        </div>
    </div>
</article>

<div class="commentsBlock" id="CommentsBlock">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="sendBlock hidden white z-depth-1" id="sendBlock" style="margin:20px 0; padding:20px">
            <textarea name="message" id="message"></textarea>
            <p class="validComment red-text" style="display: none"></p>
            <input type="button" class="waves-effect waves-light btn" value="Send" id="send" />
        </div>
    }
    <div id="comments" class="comments white z-depth-1" style="padding:20px;">
        <div id="loaderBlock">
            <div id="loader" class="hidden">

                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
 
</div>

@section scripts {
    @Scripts.Render("~/bundles/articlePage")
    <script type="text/template" id="template">
        <div class="comment" id="[Id]" userid="[userId]" style="padding-left: 8px; border-left: 1px solid #D3D3D3">
            <div class="contentComment">
                <h5 class="commentName blue-text" >[Name]</h5>
                <p class="commentDate blue-grey-text"  style="margin-bottom:10px;">[Date]</p>
                <p class="commentText staticCommentText" >[Text]</p>
                <textarea class="commentText editor hidden white" contenteditable="true"></textarea>
                <p class="validEdit red-text" style="display: none"></p>
            </div>
           
            @if (Model.CurUserId > 0)
            {
                <div id="buttons-[Id]"  class="buttonsBlock" commentid="[Id]">
                    <input type="button" value="Reply" class="showSendBlock hidegroup commentsBtn waves-effect waves-light btn-flat blue-text"  />
                    <input type="button" value="Edit" class="commentsBtn hidegroup waves-effect waves-light btn-flat blue-text [Class] editButton"  />
                    <input type="button" value="Save" class="commentsBtn waves-effect waves-light btn-flat blue-text saveButton hidden" />
                    <input type="button" value="Delete" class="commentsBtn hidegroup waves-effect waves-light btn-flat [Class] blue-text deleteButton"  />
                    <div class="sendBlock hidden">
                        <div class="divider"></div>
                        <textarea name="message" class="messageTextBox" id="message-[Id]"></textarea>
                        <p class="validComment red-text" style="display: none"></p>
                        <input type="button" class="replyBtn commentsBtn waves-effect waves-light btn" value="Send" />
                    </div>
                </div>
            }
            <div class="lineloaderplace"></div>
            <div class="divider" style="margin:10px 0"></div>
            <div class="replyBlock"></div>
        </div>
    </script>

    <script>
        $('select').select2({
            tags: true
        });
    </script>
}
